body {
    background-color: #20232a;
    text-align: center;
    font-family: Monaco;
    color: #fff;
}

h1 {
    margin-top: 10%;
}
.footer{
	height: 30px;
	line-height: 35px;
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: darkslategrey;
	color: #fff;
	font-family: Monaco;
	font-size: 14px;
	letter-spacing: 1px;
}
